# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
*.egg

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# Logs
*.log
email_log.csv

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
